body {
    text-align: center;
}

h2 {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    color: rgb(58, 58, 58);
}

.char-image.active {
    background: url(../images/Selector.png);
}

.score-field {
    position:absolute;
    right: 25%;
    display: inline-block;
}

.statistics {
    margin-bottom: -40px;
    display: inline-block;
}

#btn {
    background: white;
    border: 0ch;
    position:absolute;
    left: 65%;
    top: 5%;
    cursor: pointer;
}


